@charset "ISO-8859-1";

body {
	margin: 0;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	background-color: white;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

/* HEADER CODE*/
#header {
	padding-top: 10px;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
}

#header #logo_div {
	height: 80px;
	width: 70%;
	margin: 0 auto;
}

#logoLeft {
	float: left;
	height: 100%;
}

#logoRight {
	float: right;
	margin-top: 15px;
	border: 2px solid rgb(255, 63, 85);
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
	color: rgb(255, 63, 85);
}

#logoRight:hover {
	background: rgb(255, 63, 85);
	color: aliceblue;
}

/* CONTENT CODE */
/* EDIT PROFILE TABLE */
#content {
	width: 70%;
	min-height: 1000px;
	margin: 0 auto;
}

#editTable {
	padding: 5px;
}

#editTable td {
	padding-left: 50px;
	padding-top: 20px;
	width: 500px;
}

#signUp{
	float:left;
}

#signIn{
	
	float:right;
	margin-right: -50px;
	margin-top:250px;
	
}

#signIn table{
	border:1px solid black;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

#signIn table td{
	height: 50px;
}

.textWidth4 {
	width: 350px;
	height: 30px;
	margin-top: 5px;
	padding-left: 10px;
	border: 1px solid black;
	border-radius: 3px;
}



/* EDIT ATTRIBUTES TABLE */
#editTable2 {
	padding: 5px;
	margin-left: 6px;
}

.labelWidth {
	width: 100px;
	padding-bottom: 5px;
}

.textWidth {
	width: 500px;
	height: 30px;
	margin-top: 5px;
	padding-left: 10px;
	border: 1px solid black;
	border-radius: 3px;
}

.textWidth2 {
	width: 200px;
	height: 30px;
	margin-top: 5px;
	padding-left: 10px;
	border: 1px solid black;
	border-radius: 3px;
}

.textWidth3 {
	width: 100px;
	height: 30px;
	margin-top: 5px;
	padding-left: 10px;
	border: 1px solid black;
	border-radius: 3px;
}

#locationPicker {
	background-color: #bdbdbd;
	width: 510px;
	height: 35px;
	margin-top: 5px;
	padding-left: 10px;
	border: 1px solid black;
	border-radius: 3px;
}

#locationPicker:hover {
	background-color: #e0e0e0;
}

#createAcc{
  height: 50px;
  width: 150px;
  font-size: 15px;
  border: 2px solid rgb(255, 63, 85);
  color: rgb(255, 63, 85);
  background-color: white;
}

#createAcc:hover  {
  background: rgb(255, 63, 85);
  color: aliceblue;
}

/* */

#footer{
	clear:both;
	width:100%;
	height:150px;
	background-color: #eeeeee;
	border-top:1px solid #dcdcdc;
}

.footlabel{
	font-size:20px;
}

.floatRight{
	float:right;
	margin-right:20px;
}

.floatRight2{
	float:right;
	margin-right:310px;
}

.footLogo{
	height:40px;
	width:80px;
}