@charset "ISO-8859-1";

body {
	margin: 0;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	background-color: white;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

/* NAVBAR CODE */
#navBar {
	margin-top: -20px;
	height: 85px;
	background-color: #eeeeee;
}

#navBar ol {
	margin-left: 460px;
}

.horizontal {
	padding-left: 50px;
	display: inline;
	margin-top: 100px;
	/*border:1px solid black; */
}

#center a {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#center a:hover {
	border-radius: 5px;
	background-color: #e0e0e0;
}

#center {
	padding-top: 20px;
	padding-left: 100px;
}

/* CONTENT CODE */
/* EDIT PROFILE TABLE */
#content {
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
}

#editTable {
	padding: 5px;
}

#editTable td {
	width: 100px;
	padding-bottom: 15px;
}

#editTable2 {
	padding: 5px;
}

#editTable2 td {
	width: 122px;
	padding-bottom: 15px;
}

/* EDIT ATTRIBUTES TABLE */
.labelWidth {
	width: 300px;
	padding-bottom: 15px;
}

.textWidth {
	width: 500px;
	height: 30px;
	margin-top: 5px;
	padding-left: 10px;
	border: 1px solid black;
	border-radius: 3px;
}

.textWidth2 {
	width: 200px;
	height: 30px;
	margin-top: 5px;
	padding-left: 10px;
	border: 1px solid black;
	border-radius: 3px;
}

.textWidth3 {
	width: 100px;
	height: 30px;
	margin-top: 5px;
	padding-left: 10px;
	border: 1px solid black;
	border-radius: 3px;
}

input:hover {
	border: 2px solid rgb(255, 63, 85);
}

input:focus {
	border: 3px solid rgb(255, 63, 85);
}


.divCenter {
	margin-left: 200px;
}

#locationPicker {
	width: 510px;
	height: 35px;
	margin-top: 5px;
	padding-left: 10px;
	border: 1px solid black;
	border-radius: 3px;
}

#locationPicker:hover {
	border: 2px solid rgb(255, 63, 85);
}

#locationPicker:focus {
	border: 3px solid rgb(255, 63, 85);
}

#saveChanges {
	margin-left: 695px;
	height: 50px;
	width: 150px;
	font-size: 15px;
	border: 2px solid rgb(255, 63, 85);
	color: rgb(255, 63, 85);
	background-color: white;
}

#saveChanges:hover {
	background: rgb(255, 63, 85);
	color: aliceblue;
}

/* Footer Code */
#footer {
	margin-top: 100px;
	width: 100%;
	height: 150px;
	background-color: #e0e0e0;
	border-top: 1px solid #dcdcdc;
}

.footlabel {
	font-size: 20px;
}

.floatRight {
	float: right;
	margin-right: 20px;
}

.floatRight2 {
	float: right;
	margin-right: 310px;
}

.footLogo {
	height: 40px;
	width: 80px;
}